alembic>=1.12.1
annotated-types>=0.5.0
bcrypt>=4.2.0
click>=8.1.7
cryptography>=43.0.1
dnspython>=2.3.0
ecdsa>=0.19.0
email-validator>=2.0.0.post2
fastapi>=0.103.2
greenlet>=3.1.1
h11>=0.14.0
httptools>=0.6.0
Mako>=1.2.4
passlib>=1.7.4
pyasn1>=0.5.1
pydantic>=2.5.3
pydantic_core>=2.14.6
PyMySQL==1.1.1
python-dotenv>=0.21.1
python-jose>=3.3.0
python-multipart>=0.0.8
PyYAML>=6.0.1
rsa>=4.9
SQLAlchemy>=2.0.35
starlette>=0.27.0
uvicorn>=0.22.0
uvloop>=0.18.0
watchfiles>=0.20.0
websockets>=11.0.3
elastic-transport>=8.0.0
elasticsearch>=8.0.0
pandas